<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rajdhani&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div><img src="LogoBLACK.png" alt="logo" width="150px"></div>
    <div class="footer">
        <div class="c1">
            <h5 class="header">Connect</h5>
            <ul>
                <li><a href="https://www.tinkerhub.org/about">About</a></li>
                <li><a href="https://www.tinkerhub.org/contact">Contact</a></li>
                <li><a href="https://www.tinkerhub.org/reports">Impact Reports</a></li>
                
            </ul>
            </div>
            <div class="c1" >
                <h5 class="header">Get to know</h5>
            <ul>
                <li><a href="https://www.tinkerhub.org/why">Why TinkerHub</a></li>
                <li><a href="https://medium.com/tinkerhub">Blog</a></li>
                <li><a href="https://tinkerhub.substack.com/?_gl=1*pzmmya*_ga*MjA1OTE4NzQxNi4xNzAwMzI1NjE0*_ga_5F3S36SL83*MTcwMDMzMjUwMC4yLjEuMTcwMDMzMzAzOC4wLjAuMA..*_ga_T7HYLS1ZNZ*MTcwMDMzMjUwMC4yLjEuMTcwMDMzMzAzOC4wLjAuMA..*_ga_XF38NC19X7*MTcwMDMzMjUwMC4yLjEuMTcwMDMzMzAzOC4wLjAuMA..">Newsletter</a></li>
                <li><a href="https://www.tinkerhub.org/non-profit">Understanding non profits</a></li>
            </ul>
            </div>
            <div class="c1">
                <h5 class="header">Policies</h5>
            <ul>
                <li><a href="https://www.tinkerhub.org/community-guidlines">Community Guidline</a></li>
                <li><a href="https://www.tinkerhub.org/donation-refund-policy">Donation refund Policy</a></li>
                <li><a href="https://www.tinkerhub.org/privacy-policy">Privacy Policy</a></li>
                
            </ul>
            </div>
            <div class="c1">
                <h5 class="header">Get Involved</h5>
                <ul>
                    <li><a href="https://www.tinkerhub.org/donate">Donate to the cause</a></li>
                    <li><a href="https://www.tinkerhub.org/donate">TinkerSpace Patrons</a></li>
                    
                </ul>
                
            </div>
            <div class="c1">
                <h5 class="header">Work at TinkerHub</h5>
                <ul>
                    <li><a href="https://www.tinkerhub.org/careers">Job Openings</a></li>
                    

                </ul>
            </div>
            <div class="c1">
                <h5 class="header">Programs</h5>
                <ul>
                    <li><a href="https://hacknight.tinkerhub.org/?_gl=1*5l4zlt*_ga*MjA1OTE4NzQxNi4xNzAwMzI1NjE0*_ga_5F3S36SL83*MTcwMDMzMjUwMC4yLjEuMTcwMDMzMjk3NS4wLjAuMA..*_ga_T7HYLS1ZNZ*MTcwMDMzMjUwMC4yLjEuMTcwMDMzMjk3NS4wLjAuMA..*_ga_XF38NC19X7*MTcwMDMzMjUwMC4yLjEuMTcwMDMzMjk3NS4wLjAuMA..">Saturday Hacknight</a></li>
                    <li><a href="https://tinkerhub-foundation.notion.site/Indie-Devs-3fc103108ce24bf4a55fce0914abdf03">IndieDevs</a></li>
                    <li><a href="https://tinkerhub-foundation.notion.site/Tech4Good-Social-Impact-Bootcamp-026b12ce65b342f78b829ff4b6b190ea">Tech4Good Bootcamp</a></li>
                    
                </ul>
            </div>

                
           

    </div>
    </div>

</body>
</html>
